In [40]:
import random
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

rng = np.random.default_rng()

In [77]:
soma_dado1 = []
soma_dado2 = []
soma_dados = []

In [78]:
for i in range(100):
    dado1 = [rng.integers(1,6)]
    dado2 = [rng.integers(1,6)]
    soma_dado1 += [dado1]
    soma_dado2 += [dado2]
    soma_dados += [dado1 + dado2]

In [97]:
df = pd.DataFrame(pd.Series(soma_dado1))

In [127]:
df

           0
Jogadas
0        [3]
1        [1]
2        [5]
3        [4]
4        [2]
...      ...
95       [4]
96       [3]
97       [3]
98       [2]
99       [4]

[100 rows x 1 columns]

In [128]:
df.

0    [1]
Name: 1, dtype: object