In [23]:
import pandas as pd

In [66]:
mont_init = 10000
mont_total = [mont_init]
valor_apt = 500
apt_mensal = [valor_apt]
rend_anual = 0.12
rend_mes = 0.5

In [69]:
 for i in range(12):
    mont_total += [mont_total[-1] + ((valor_apt * rend_mes) + valor_apt)] 
    mont_total[-1] - mont_total

TypeError: can only concatenate list (not "float") to list

In [60]:
mont_total

[10000,
 10750.0,
 11500.0,
 12250.0,
 13000.0,
 13750.0,
 14500.0,
 15250.0,
 16000.0,
 16750.0,
 17500.0,
 18250.0,
 19000.0]

In [63]:
df = pd.DataFrame((mont_total, valor_apt),index=["JAN","FEV","MAR","ABR","MAI","JUN",
                                    "JUL","AGO","SET","OUT","NOV","DEZ","SALDO FINAL"], 
                  columns=["SALDO MENSAL","APORTE MENSAL"])

NameError: name 'valor_apt' is not defined

In [62]:
df

             SALDO MENSAL
JAN               10000.0
FEV               10750.0
MAR               11500.0
ABR               12250.0
MAI               13000.0
JUN               13750.0
JUL               14500.0
AGO               15250.0
SET               16000.0
OUT               16750.0
NOV               17500.0
DEZ               18250.0
SALDO FINAL       19000.0